<h1>Results</h1>

<!-- Here's where we pick up the @congress variable we
     created in congress.rb ...

     For each congressman (item) in our array
     (@congress["results"]), display the following...

     (Remember, @congress is a hash, but @congress["results"]
     is an array.)
-->

<% @congress["results"].each do |item| %>
  <div>
    <p><%= item["title"] %>
    <%= item["first_name"] %>
    <%= item["last_name"] %></br>
    Party: (<%= item["party"] %>)</br>
    Phone: <%= item["phone"] %></br>
    Email: <%= item["oc_email"] %></br>
    Twitter: <%= item["twitter_id"] %></br>
  </p>
  </div>
<% end %>
